<div class="loader-wrap" style="background-color: #00395b; color: #FEB062;">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loader-wrap-heading">
        <div class="load-text" >
            <span>D</span>
            <span>I</span>
            <span>K</span>
            <span> </span>
            <span>G</span>
            <span>R</span>
            <span>O</span>
            <span>U</span>
            <span>P</span>
        </div>
    </div>
</div>